.profile-wrapper {
    margin: 0 auto;
    width: 300px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
}

.profile {
    width: 200px;
    margin: 0 auto;
}