.activity-log {
    height: 300px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;

    a {
        color: $primary-color;
        opacity: .8;
        text-decoration: none;
    }

    &__header {
        color: $accent-color;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 15px 15px;
    }

    &__title {
        font-size: 18px;
    }

    &__body {
        padding: 0 15px;
        height: 210px;
        overflow: hidden;
    }

    &__body--full {
        height: inherit;
        overflow: inherit;
    }

    &__none {
        margin: 20px 0;
    }

    &__activity {
        @include make-row();
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    &__activity--full {
        padding: 25px;
    }

    &__activity:last-child {
        border-bottom: none;
    }

    &__actor-avatar {
        @include make-xs-column(2);
        @include make-sm-column(1);
        img {
            border-radius: 50px;
        }
    }

    &__info {
        @include make-xs-column(10);
        @include make-sm-column(11);
        padding-left: 25px;

        @media(max-width: 767px){
            padding-left: 5px;
        }

        @media(max-width: 400px){
            padding-left: 30px;
        }
    }

    &__info--condensed {
        padding-left: 0px;
    }

    &__timestamp {
        font-size: 12px;
        color: $gray-light;
        margin-top: 2px;
    }

    &__more-link {
        width: 100%;
        position: absolute;
        bottom: 5px;
        text-align: center;
        font-size: 14px;

        a {
            color: $gray-light;
        }
    }

    &__pagination {
        text-align: center;

        .pagination li a {
            color: $gray !important;
        }

        .pagination .active span {
            background-color: $primary-color !important;
            border-color: $primary-color !important;
            color: white !important;
            opacity: .8;
        }


    }
}

.activity-log--full {
    height: inherit;
}