button {
    font-family: $font-family-header;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
}

button:focus {
    outline:0;
}

input[type="submit"] {
    font-family: $font-family-header;
}

@mixin button-primary() {
    background-image: linear-gradient(to bottom, $primary-color 0%, darken($primary-color, 5%) 100%);
}
