.comment-form {
    padding: 0 100px;
    background-color: white;
    box-shadow: 0 0 3px $accent-color;

    &__input {
        border: 0;
        margin: 30px 0;
        height: 100px;
        width: 100%;
        background-color: $gray-lighter;
        padding: 20px;
    }

    &__button {
        @include button-variant(white, $accent-color, black);
        @include button-size(20px,100px,1em,1em,5px);
        border: 0px;
        box-shadow: 0px 1px black;
        float: right;
        margin-bottom: 30px;
    }
}