.comment-edit-form {
    padding: 0 10px;
    background-color: white;

    &__input {
        border: 0;
        height: 100px;
        width: 100%;
        background-color: $gray-lighter;
        padding: 20px;
    }

    &__button {
        float: right;
        margin-bottom: 30px;
    }
}