.discussion {
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 3px $accent-color;


    &__avatar img {
        float: right;
        border-radius: 60px;
    }

    &__title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.5em;
    }

    &__meta {
        font-size: .9em;
    }

    &__main-content {
        padding-right: 40px;
    }


}