.subtasks {
    min-height: 200px;
    margin-bottom: 50px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;

    &__header {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 15px 15px;
    }

    &__title {
        font-size: 18px;
        display: inline;
    }

    &__add {
        float: right;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background-color: $gray-lighter;
        color: $gray-light;
        text-align: center;
        line-height: 25px;
        font-size: 20px;
        padding: 0;
        border: 0;
        box-shadow: none;
    }

    &__body {
        padding: 15px;
    }

    &__table {
        @extend .table;
        @extend .table-striped;

        border-bottom: 1px solid $gray-lighter;
    }

    &__row {
        @include make-row();

    }

    &__name {
        @include make-md-column(8);
        @include make-xs-column(7);

        @media (max-width: 750px) {
            @include make-xs-column(12);
        }

        padding: 25px 20px !important;

        a {
            text-decoration: none;
            color: $accent-color;
        }
    }

    &__controls-wrapper {
        @include make-md-column(4);
        @include make-xs-column(5);
        padding: 20px !important;
        height: 70px;

        @media (max-width: 750px) {
            @include make-xs-column(12);
            border: 0 !important;

        }
    }


    &__controls {
        @include vertical-align();
        font-size: 18px;
        float: right;

        form {
            display: inline;
        }

        .fa {
            font-size: 18px;
            margin-right: 15px;
        }

        &__comments {
            position: relative;
            display: inline;
            margin-right: 4px;
        }

        &__comments-count {
            position: absolute;
            top: -4px;
            left: 9px;
            font-size: 10px;
            width: 15px;
            height: 15px;
            background-color: $gray-light;
            color: white;
            text-align: center;
            border-radius: 15px;
            opacity: .5;
        }

        &__icon {
            padding: 0;
            background-color: inherit;
            box-shadow: none;
        }

        &__button {
            @include button-primary;
            padding: 5px 14px;
            width: 125px;
            color: white;
            opacity: .7;

            .fa {
                margin-right: 5px;
            }
        }
    }

}