.subtask-modal-wrapper {
    background-color: white;
    padding-bottom: 100px;
}

.subtask-form {
    display: inline;
    margin-top: 50px;

    label {
        //font-size: 16px;
    }

    .fa {
        margin-right: 5px;
    }

    &__input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 10px;
        background-color: $gray-lighter;
        color: $accent-color;
        border: 0;
        margin-bottom: 15px;
        @include placeholder($gray-light);
    }

    &__button {
        @include button-variant(white, $accent-color, black);
        @include button-size(10px,15px,1em,1em,5px);
        border: 0px;
        box-shadow: 0px 1px black;
        float: right;
        margin: 20px;
    }
}

//.subtask-form {
//    width: 100%;
//    position: absolute;
//    top: 0;
//    left: 5%;
//
//
//    &__input {
//        width: 55%;
//    }
//}
