.subtask-wrapper {
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 0;
    margin-bottom: 100px;
}

.subtask {
    &__header {
        color: $accent-color;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 50px 50px 50px 160px;

        @media(max-width: 630px){
            padding: 50px 30px 50px 110px;
        }

        @media(max-width: 420px){
            padding: 50px 30px 50px 30px;
        }
    }

    &__title {
        font-size: 21px;
    }

    &__timestamp {
        font-size: 14px;
        color: $gray-light;
    }


}