.tasks-header {
    @include make-row();
    margin-bottom: 20px;

    &__task-count {
        @include make-md-column(7);
        font-size: 1.2em;

    }

    &__add-task {
        @include make-md-column-offset(2);
        @include make-md-column(3);
        font-size: 1.2em;
        text-align: right;

    }
}