.task-progress {
    height: 300px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;

    &__header {
        color: $accent-color;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding: 15px 15px;
    }

    &__title {
        font-size: 18px;
    }

    &__body {
        height: 243px;
    }

    &__percentage {
        @include vertical-align();
        @include square(180px);
        line-height: 180px;
        text-align: center;
        margin: 0 auto;
        font-size: 50px;
        border-radius: 90px;
        background-color: $gray-lighter;
        color: $gray-light;
    }
}