@import "variables";
@import "mixins";
@import "bootstrap";

@import "pages/dashboard";
@import "pages/create-project";
@import "pages/create-task";
@import "pages/project-admin";
@import "pages/task-show";
@import "pages/login";
@import "pages/register";
@import "pages/password";
@import "pages/discussion-show";
@import "pages/subtask-show";
@import "pages/activity-index";
@import "pages/notification-index";
@import "pages/profile-show";
@import "pages/profile-activity";
@import "pages/splash";

@import "components/buttons";
@import "components/header";
@import "components/project-overview";
@import "components/create-project";
@import "components/modal-form";
@import "components/task";
@import "components/login-form";
@import "components/activity-log";
@import "components/comment";
@import "components/subtask";
@import "components/members";
@import "components/task-progress";
@import "components/task-overview";
@import "components/overview-overlay";
@import "components/modal";
@import "components/notification-dropdown";
@import "components/subtasks";
@import "components/discussions";
@import "components/discussion";
@import "components/member-tooltip";
@import "components/removed";
@import "components/notification";
@import "components/crumbs";
@import "components/profile";
@import "components/profile-form";
@import "components/error-container";
@import "components/navbar";
@import "components/completed-overlay";
@import "components/hero";
@import "components/top-bar";
@import "components/splash-overview";
@import "components/splash-spotlight";
@import "components/splash-features";
@import "components/register-form";
@import "components/password-form";
@import "components/select2";


.hide {
    display: none;
}

input:focus, textarea:focus {
    outline: none;
}


