@import "variables";
@import "bootstrap";
@import "components";

@import "pages/dashboard";
@import "pages/create-project";
@import "pages/create-task";
@import "pages/project-admin";
@import "pages/task-show";
@import "pages/login";
@import "pages/discussion-show";


@import "components/project-overview";
@import "components/create-project";
@import "components/task-form";
@import "components/project-header";
@import "components/tasks-header";
@import "components/task";
@import "components/login-form";
@import "components/discussion";
@import "components/discussion-form";
@import "components/activity-log";
@import "components/subtask-form";
@import "components/comment-form";
@import "components/comment";


.container-small {
    @extend .container;
    width: 980px;
}

/** NAV **/

.navbar {
    margin-bottom: 10px;

    .navbar-brand {
        font-family: 'Leckerli One', cursive;
        font-size: 2.5em;
    }
}

/**
SPLASH
**/

.splash-signup-section {
    @extend .jumbotron;
    background-color: $gray-lighter;
    color: $accent-color;
    padding: 6em 0;

    .splash-hero-wrapper {
        @include make-row();
    }

    .text-wrapper {
        @extend .col-md-7;
        padding-left: 0;
    }

    .registration-wrapper {
        margin-top: 2em;
        padding-right: 0;
        @extend .col-md-offset-1;
        @extend .col-md-4;
    }

    .form-group {
        margin-top: 1em;
        margin-bottom: 0em;
    }

    .form-control {
        height: 3em;
    }

    .btn {
        margin-top: 1em;
        font-weight: 600;
        font-size: 1.2em;
        background-color: $accent-color;
        border: 0;
    }

}

/**
ADD USER TO PROJECT
**/

.input-group {
    margin: 20px auto;
    width: 50%;

    input[type="text"] {
        outline: none;
        width: 60%;
        height: 4em;
        padding-left: 1em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .select2 {
        width: 60% !important;
    }

    .select2-selection {
        height: 4em;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid lightgray;

    }

    span#select2-usersList-container {
        line-height: 4em;
        padding-left: 1em;
    }

    span.select2-selection__arrow {
        display: none;
    }

    .btn {
        width: 40%;
        height: 4em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}



.hide {
    display: none;
}


/** PROFILE **/
.avatar-wrap {
    position: relative;
    margin-right: 2em;

    .avatar-upload-button {
        position: absolute;
        bottom: 0;
        display: block;
        background-color: white;
        width: 200px;
        height: 3em;
        opacity: .8;
        text-align: center;
        line-height: 3em;
        cursor: pointer;
    }

}

